<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
  <div class="logo"></div>
    <div class="container">
        <div class="card">
            <h2 id="form-title">Welcome Back</h2>
            <p id="form-subtitle">Please login to your account</p>
            <form id="form" class="login">
                <div class="input-group">
                    <input type="text" placeholder="Username" required />
                </div>
        
                <div class="input-group">
                    <input type="password" placeholder="Password" required />
                </div>

                <button type="submit" id="form-btn">Login</button>
        
                <p class="toggle-text">
                    <b>Don't have an account?</b> <a href="/listings/register" id="toggle-link">Register</a>
                </p>
            </form>
        </div>
  </div>
</body>
</html>